#MDK
/MDK-ARM/*/*.crf
/MDK-ARM/*/*.d
/MDK-ARM/*/*.o
/MDK-ARM/*/*.dep
/MDK-ARM/*/*.axf
/MDK-ARM/*/*.htm
/MDK-ARM/*/*.lnp
/MDK-ARM/*/*.map
/MDK-ARM/*/*.sct
/MDK-ARM/*.uvguix.*
/MDK-ARM/JLinkLog.txt
/MDK-ARM/*.lst

#Cube
/.mxproject
/mx.scratch

#VSCode
/.vscode/